h1{
	color:#0000FF;
}

h2{
	color:#4CAF50;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
